.chip {
  @apply relative inline-block align-middle;
  --border-size: 2px;
  margin-top: -var(--border-size);
  width: var(--chip-size);
  height: var(--chip-size);
  border-radius: 100%;
  border: var(--border-size) white dotted;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.chip,
.chip--10 {
  background-color: crimson;
}
.chip--1 {
  background-color: #444;
}
.chip--5 {
  background-color: goldenrod;
}

.chip--x + .chip--x {
  left: -10px;
  margin-right: -10px;
}

/* prettier-ignore */
.chip--y { --index-stack: 0; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(2) { --index-stack: 1; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(3) { --index-stack: 2; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(4) { --index-stack: 3; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(5) { --index-stack: 4; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(6) { --index-stack: 5; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(7) { --index-stack: 6; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(8) { --index-stack: 7; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(9) { --index-stack: 8; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(10) { --index-stack: 9; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(11) { --index-stack: 10; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(12) { --index-stack: 11; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(13) { --index-stack: 12; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(14) { --index-stack: 13; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(14) { --index-stack: 13; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(15) { --index-stack: 14; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(16) { --index-stack: 15; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(17) { --index-stack: 16; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(18) { --index-stack: 17; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(19) { --index-stack: 18; }
/* prettier-ignore */
.chip--y + .chip--y:nth-child(20) { --index-stack: 19; }

/* Do not support vertical stacks of over 20 chips */
.chip--y + .chip--y:nth-child(20) ~ .chip--y {
  display: none;
}

.chip--y + .chip--y {
  --chip-size-neg: calc(var(--chip-size) * -1);
  left: var(--chip-size-neg);
  margin-right: var(--chip-size-neg);
  margin-top: calc(-10px * var(--index-stack));
}
