/**
* Table of contents
*
* # Variables
* # Global
* # Utils
* # Layout
* # Player
* # Player Moves
*/



/************************************************
* # Variables
************************************************/
:root {
  /* Greens */
  --color-green-table: #1F7D3D;
  --color-green-table-dark: #0E612D;
  
  /* Blues */
  --color-blue-call: #5467B0;
  --color-blue-table-stats: #5467B0;

  /* Reds */
  --color-red-fold: #ED2339;

  /* Dimensions */
  --height-player-moves: 4rem;
}



/************************************************
* # Global
************************************************/
body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}



/************************************************
* # Utils
************************************************/
.hide {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  cursor: default !important;
}



/************************************************
* # Layout
************************************************/
.application {
  background: var(--color-green-table);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.topnav {
  background: var(--color-green-table-dark);
}

.topnav__table-stats {
  background: var(--color-blue-table-stats);
}

.player {
  background: var(--color-green-table);
  flex-grow: 1;
}

.player-moves {
  height: var(--height-player-moves);
}




/************************************************
* # Player
************************************************/
.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.player__bet-menu {
  width: 100%;
}

.player__bet {
  display: block;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  border-right: 0.4rem solid var(--color-green-table-dark);
  border-bottom: 0.4rem solid var(--color-green-table-dark);
  padding: 0.8rem;
  margin: 0.8rem auto;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  min-width: 10rem;
  cursor: pointer;
}

.player__bet:hover {
  filter: brightness(110%);
}

.player__bet:active {
  border: 0;
  border-top: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
}

.player__bet--confirm {
  width: 100%;
  border-left: 0.4rem solid var(--color-green-table-dark);
}

.player__bet--confirm:active {
  border-right: 0.4rem solid transparent;
}

/************************************************
* # Player Moves
************************************************/
.player-moves {
  display: flex;
}

.player-moves__move {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  background: var(--color-green-table);
  height: 100%;
  flex: 1;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.player-moves__move:hover {
  filter: brightness(110%);
}

.player-moves__move--call {
  background: var(--color-blue-call);
}

.player-moves__move--fold {
  background: var(--color-red-fold);
}